body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro';
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/bg-masthead.jpg");
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  font-family: 'Stardos Stencil', cursive;

}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }

  .masthead h1 {
    font-size: 5.5rem;
  }
}

.intro-subtitle {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}


/********************************************************************************************************************************
                                             Navbar
  ********************************************************************************************************************************/

.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  background: transparent !important;
  color: #333;
  transition: 0.5s all;
}

a.navbar-brand{
  font-family: 'Gugi', cursive !important;
  font-size: 30px !important;
  font-weight: bold !important;
}

.navbar a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  margin-right: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  border-bottom:2px solid transparent;
}



.navbar a:hover {
  color: #f16e00 !important;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #f64c72;
}

.navbar button {
  color: inherit !important;
}

.navbar.compressed {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff !important;
  color: #0078ff !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.5s all;
  text-transform: uppercase;

}

.navbar.compressed a {
  color: #0078ff !important;
  transition: 0.3s all;
}

.navbar.compressed a:hover {
  color: #0078ff !important;
  color: #f16e00 !important;
  transition: 0.3s all;
}


.text-slider-items {
  display: none;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/bg-callout.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}


.home_banner_area {
  position: relative;
  z-index: 1;
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  margin-bottom: 200px;
}

.home_banner_area .box_1620 {
  min-height: 700px;
  border-radius: 12px;
  position: relative;
  bottom: -200px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.home_banner_area .banner_inner {
  position: relative;
  width: 100%;
  min-height: 700px;
  display: flex;
}

.home_banner_area .banner_inner .banner_content {
  color: #222222;
  vertical-align: middle;
  align-self: center;
  text-align: left;
}

.home_banner_area .banner_inner .banner_content .media .d-flex {
  padding-right: 125px;
}

.home_banner_area .banner_inner .banner_content .media .media-body {
  vertical-align: middle;
  align-self: center;
}



/********************************************************************************************************************************
                                              Services SECTION
  ********************************************************************************************************************************/
#services {
  padding: 70px 200px;
  background-color: #f5f5f5;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/contact.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  color: #fff;
}

#services h2{
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}


#services h3:after {
  content: ' ';
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  width: 20px;
  border: 2px solid #1b9af7;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#services .services-card {
  padding: 30px;
  border: 0.2px solid white;
  margin-top: 30px;
  border-radius: 30px;
  width: 250px;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #000000;
}

#services .fas {
  font-size: 70px;
  margin: 50px;
  color: black;
}

#services h2:after {
  content: ' ';
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  width: 80px;
  border: 2px solid #f64c72;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


#services .services-card:hover {
  border: 0.2px solid white;
  /*box-shadow: 2px 2px 80px 10px rgba(22, 104, 183, 0.15);*/
  box-shadow: 2px 1px 35px 1px #1b9af7;
  transition: 0.1s ease-in-out;
}



/********************************************************************************************************************************
                                              About SECTION
  ********************************************************************************************************************************/

#about {
  padding: 140px 10px;
  background: #f6f6f6;
}

#about .row {
  background: white;
  padding: 10px;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.5);
}

#about img {
  width: 500px;
  padding: 30px;
}

#about .text {
  padding: 30px 50px;
  padding-right: 50px;

}

#about i {
  font-size: 26px;
  text-align: right;
}

#about .text h1 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

#about h2:after {
  content: ' ';
  margin-top: 15px;
  display: block;
  width: 80px;
  border: 2px solid #f64c72;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

/* #about h5{
  font-family: 'Lato', sans-serif;
} */

#about p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}







/********************************************************************************************************************************
                                              SKILLS SECTION
  ********************************************************************************************************************************/

section.intro {

  font-family: oswald;
  position: relative;
  height: 100vh;
  width: 100%;
  background: #f6f6f6;
  background: -moz-radial-gradient(center, ellipse cover, #f6f6f6 1%, #d3d3d3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #f6f6f6), color-stop(100%, #d3d3d3));
  /* background: -webkit-radial-gradient(center, ellipse cover, #f6f6f6 1%,#d3d3d3 100%); */
  background: -o-radial-gradient(center, ellipse cover, #f6f6f6 1%, #d3d3d3 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f6f6f6 1%, #d3d3d3 100%);
  /* background: radial-gradient(ellipse at center, #f6f6f6 1%,#d3d3d3 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#d3d3d3', GradientType=1);
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/back.jpg');

}


.welcome {
  font-size: 60px;
  text-align: center;
  color: #333;
}

/********************************************************************************************************************************
                                              Hexagon Intro Blocks
  ********************************************************************************************************************************/

.intro-block {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.hex-bg-big-text {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.centerfold-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hoverblock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hover-notify {
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.code-display {
  position: relative;
  color: #f6f6f6;
  width: 600px;
  height: 260px;
}

.code-display::before {
  content: "Expertise";
  position: absolute;
  top: -70px;
  left: 0;
  font-size: 3.0rem;
  color: #333;
}

.code-display h1 {
  color: #333;
}

.code-description {
  width: 100%;
  height: 100%;
  color: #333;
}

.code-description * {
  display: none;
}

.code-description>div {
  padding: 0px 40px;
  font-size: 26px;
  border-left: 2px solid #DDDDDD;
}

.desc-active {
  display: block;
  /*height: 100%;*/
  position: relative;
}

.desc-active>p {
  display: block;
  margin: 0;
}

.desc-active>p>span {
  display: inline-block;
  /* font-weight: bold; */
  width: 125px;
}

p.code-title {
  position: relative;
  font-size: 6rem;
}

.desc-active::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  opacity: .2;
  z-index: -1;
}

.backend-desc.desc-active::after {
  background: url(https://i.imgur.com/Dc8HgeM.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.frontend-desc.desc-active::after {
  background: url(https://i.imgur.com/QcfXSkf.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.html-desc.desc-active::after {
  background: url(https://i.imgur.com/0g3HZSF.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.css-desc.desc-active::after {
  background: url(https://i.imgur.com/poC0TYE.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.javascript-desc.desc-active::after {
  background: url(https://i.imgur.com/QjrmHkb.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.gui-desc.desc-active::after {
  background: url(https://i.imgur.com/YmCqPpk.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.vue-desc.desc-active::after {
  background: url(../img/vueb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.php-desc.desc-active::after {
  background: url(../img/php-flat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.react-desc.desc-active::after {
  background: url(../img/reactb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.laravel-desc.desc-active::after {
  background: url(../img/laravelb.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}




.hex-master-wrap {
  position: relative;
  /* width: 50%; */
  min-width: 665px;
  height: 460px;
}

.border-1,
.border-2,
.border-3 {
  position: absolute;
  width: 100%;
  height: 88px;
  top: 46px;
  left: 0;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 8px;
  z-index: 2;
  border-color: #333;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.border-2 {
  transform: rotate(60deg);
}

.border-3 {
  transform: rotate(120deg);
}

.border-3::before {
  display: none;
  position: absolute;
  content: "";
  bottom: 10%;
  left: 42px;
  width: 50%;
  height: 83%;
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: white;
  border-radius: 50%;
  visibility: visible;
  z-index: -1;
  /* transform: rotate(60deg); */
}






.intro-block .grid-1,
.intro-block .grid-2,
.intro-block .grid-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: -50px;
}

.intro-block .grid-3 {
  margin-bottom: -50px;
}

.intro-block .grid-2,
.intro-block .grid-3 {
  margin-top: -50px;
}

.hex-wrap {
  position: relative;
  width: 150px;
  height: 190px;
  margin: 0 1em 0 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border: 0px solid;
  transform: scale(1.1);
}

.hex-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 58px;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.hex-wrap .label svg,
.hex-wrap .label img {
  height: 50px;
  width: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hexagon {
  width: 300px;
  height: 150px;
  margin: 15px 0 0 -75px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(90deg);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hex-inner-1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hex-inner-2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  /* background-image: url(http://placekitten.com/240/240); */
  visibility: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  overflow: hidden;
}







.hex-inner-2::before,
.hex-inner-2::after {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  top: 0;
  left: 0;
  height: 110%;
  width: 110%;
  content: "";
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

/**********************************************************************************
                                  Hex Hover Area
  **********************************************************************************/
.hex-init {
  position: absolute;
  top: 46px;
  left: 0px;
  height: 46%;
  width: 100%;
  z-index: 9;
  transform: rotate(-60deg);
  cursor: pointer;
}

.hex-init::after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  transform: rotate(-60deg);
}

.hex-init::before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  transform: rotate(60deg);
}



/**********************************************************************************
                                  Portfolio
  **********************************************************************************/

#portfolio {
  transition: 0.3s all;
  background-color: #f5f5f5;
  ;
}

#portfolio .card {
  margin-bottom: 14px;
  text-align: left !important;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

#portfolio .container-fluid {
  padding: 50px;
  padding-top: 100px;

}

#portfolio .grid-item img:hover {
  background: white;
  opacity: 0.3;
  transition: 0.2s all;
}

#portfolio .button:hover{
    border-bottom: 3px solid #f64c72;
    transition: 0.2s all;
}

/**********************************************************************************
                                  Common Css
  **********************************************************************************/

.button-black {
  color: black;
}

a {
  color: #1D809F;
}

a:hover,
a:focus,
a:active {
  color: #155d74;
}

/* .btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
} */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}

/**********************************************************************************
                                  Contact Form
  **********************************************************************************/

#contactus {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/contact.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 150px 10px;
}

#contactus img {
  width: 400px;
  margin: 0 13%;
}

#contactus .container {
  background: white;
  border-radius: 10px;
}

#contactus input,
#contactus textarea {
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

#contactus .col-md-6 {
  margin: 50px 0;
}

#contactus .button {
  border-radius: 20px;
}

/**********************************************************************************
                                  Footer
  **********************************************************************************/

footer>* {
  margin: 5px;
  text-align: center;

}

footer {
  /* background: linear-gradient(rgba(255,255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../img/back.jpg') center center no-repeat; */
  background: #212221;
  background-size: cover;
  color: #F7F7F7;
  font-size: 0.8em;
  padding: 20px;
  font-family: 'Roboto', sans-serif;

}

footer .container-fluid {
  margin: 0 110px 0 50px;
  padding: 0 110px 0 50px;
}

footer p {
  margin-bottom: 0;
}

#footer li a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}

.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 35px;
  height: 35px;
  text-decoration: none;
}

.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
  padding: 20px;

}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button i {
  font-size: 28px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--mail {
  color: #0072c6;
}

.social-button--mail::after {
  background: #0072c6;
}

.social-button--facebook {
  color: #3b5999;
}

.social-button--facebook::after {
  background: #3b5999;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.social-button--codepen {
  color: #212121;
}

.social-button--codepen::after {
  background: #212121;
}

.social-button--steam {
  color: #7da10e;
}

.social-button--steam::after {
  background: #7da10e;
}

.social-button--snapchat {
  color: #eec900;
}

.social-button--snapchat::after {
  background: #eec900;
}

.social-button--twitter {
  color: #55acee;
}

.social-button--twitter::after {
  background: #55acee;
}

.social-button--instagram {
  color: #e4405f;
}

.social-button--instagram::after {
  background: #e4405f;
}

.social-button--npmjs {
  color: #c12127;
}

.social-button--npmjs::after {
  background: #c12127;
}